<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/static/vendor/demand.css">
    <link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@700&family=Anonymous+Pro:wght@400;700&display=swap" rel="stylesheet">
  <title>Востребованность</title>
</head>

<body>
  <div class="main">
    <!-- burger -->
    <div class="burger" onclick="toggleMenu()"> <img src="/static/vendor/img/бургер.png" alt="Бургер"> </div>

    <div class="ellipse">
      <div class="ellipse-1"><img src="/static/vendor/img/белый.png" alt="фон"> </div>
      <div class="ellipse-2"><img src="/static/vendor/img/фиолетовый.png" alt="фон"> </div>
      <div class="ellipse-3"><img src="/static/vendor/img/белый.png" alt="фон"> </div>
      <div class="ellipse-4"><img src="/static/vendor/img/фиолетовый.png" alt="фон"> </div>
      <div class="ellipse-5"><img src="/static/vendor/img/белый.png" alt="фон"> </div>
      <div class="ellipse-6"><img src="/static/vendor/img/белый.png" alt="фон"> </div>
      <div class="ellipse-7"><img src="/static/vendor/img/фиолетовый.png" alt="фон"> </div>
      <div class="ellipse-8"><img src="/static/vendor/img/белый.png" alt="фон"> </div>
      <div class="ellipse-9"><img src="/static/vendor/img/фиолетовый.png" alt="фон"> </div>
      <div class="ellipse-10"><img src="/static/vendor/img/белый.png" alt="фон"> </div>
    </div>

    <div class="header">
      <!-- logo -->
      <div class="logo"> <img src="/static/vendor/img/logo.png" alt="logo"> </div>

      <!-- меню -->
      <div class="menu" id="menu">
                <!-- Ваше меню здесь -->
        <div class="close-button" onclick="toggleMenu()">
          <img src="/static/vendor/img/крестик.png" alt="Крестик">
        </div>
        <ul>
          <<li><p class="menyu">Меню</p></li>
		        <li><a href="{% url 'index' %}">WEB-Разработка: Ваш Путь к Цифровой Экспертности</a></li>
		        <li><a href="{% url 'demand' %}">Востребованность</a></li>
		        <li><a href="{% url 'geography' %}">География</a></li>
		        <li><a href="{% url 'skills' %}">Навыки</a></li>
		        <li><a href="{% url 'vacancies' %}">Вакансии</a></li>
                <li><a href="/static/vendor/administration.html">Система администрирования</a></li>
        </ul>
      </div>
      <!-- Подключаем файл скрипта -->
      <script src="/static/vendor/script.js"></script> 

      <!-- кнопка регистрации -->
            <div class="register-button"><a href="/static/vendor/registration.html"><img src="/static/vendor/img/кнопка регистрации.png" alt="Регистрация"></a></div>

            <!-- кнопка входа -->
            <div class="login-button"><a href="/static/vendor/entrance.html"><img src="/static/vendor/img/кнопка входа.png" alt="Вход"></a></div>

      <!-- кнопка выхода -->
      <div class="exit-button"><img src="/static/vendor/img/кнопка выхода.png" alt="Вход"></div>

      <!-- Востребованность -->
    <div class="demand"><img src="/static/vendor/img/Востребованность.png" alt="Востребованность"></div>

    </div>
    <div class="body">

      <div class="section" id="levelSalariesCities">
        <p>Динамика уровня зарплат по годам</p>
        <div class="rectangle" id="rectangle-1">
            <img src="/static/vendor/img/chart1.1.png" alt="графики/таблицы">
            <img src="/static/vendor/img/table1.1.png" alt="графики/таблицы">
        </div>
      </div>

      <div class="section" id="vacanciesCities">
        <p>Динамика количества вакансий по годам</p>
        <div class="rectangle" id="rectangle-2">
            <img src="/static/vendor/img/chart1.2.png" alt="графики/таблицы">
            <img src="/static/vendor/img/table1.2.png" alt="графики/таблицы">
        </div>
      </div>

      <div class="section" id="levelSalariesWebDeveloper">
        <p>Динамика уровня зарплат по годам для профессии Web-разработчик</p>
        <div class="rectangle" id="rectangle-3">
            <img src="/static/vendor/img/chart1.3.png" alt="графики/таблицы">
            <img src="/static/vendor/img/table1.3.png" alt="графики/таблицы">
        </div>
      </div>

      <div class="section" id="salaryYearsWebDeveloper">
        <p>Динамика количества зарплат по годам для профессии Web-разработчик</p>
        <div class="rectangle" id="rectangle-4">
            <img src="/static/vendor/img/chart1.4.png" alt="графики/таблицы">
            <img src="/static/vendor/img/table1.4.png" alt="графики/таблицы">
        </div>
      </div>

    </div>
    <div class="footer">
      <p class="signature">Аристов Михаил Николаевич РИ-220913</p>
    </div>
  </div>
</body>

</html>