<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/vendor/MainPage.css">
    <link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@700&family=Anonymous+Pro:wght@400;700&display=swap" rel="stylesheet">
    <title>Главная</title>
</head>

<body>

    <!-- Главная -->
    <div class="main">
    	<!-- бургер -->
        <div class="burger" onclick="toggleMenu()">
        	<img src="/static/vendor/img/бургер.png" alt="Бургер">
         </div>
        <!-- фон -->
        <div class=""></div>

        <!-- Ellipse 1 -->
        <div class="ellipse ellipse-1"><img src="/static/vendor/img/Ellipse 1.png" alt="фон"> </div>

        <!-- Ellipse 4 -->
        <div class="ellipse ellipse-4"><img src="/static/vendor/img/Ellipse 4.png" alt="фон"> </div>

        <!-- Ellipse 7 -->
        <div class="ellipse ellipse-7"><img src="/static/vendor/img/Ellipse 7.png" alt="фон"> </div>

        <!-- Ellipse 6 -->
        <div class="ellipse ellipse-6"><img src="/static/vendor/img/Ellipse 6.png" alt="фон"> </div>

        <!-- Ellipse 3 -->
        <div class="ellipse ellipse-3"><img src="/static/vendor/img/Ellipse 3.png" alt="фон"> </div>

        <!-- Ellipse 15 -->
        <div class="ellipse ellipse-15"><img src="/static/vendor/img/Ellipse 7.png" alt="фон"> </div>

        <!-- Ellipse 2 -->
        <div class="ellipse ellipse-2"><img src="/static/vendor/img/Ellipse 2.png" alt="фон"> </div>

        <!-- Ellipse 9 -->
        <div class="ellipse ellipse-9"><img src="/static/vendor/img/Ellipse 7.png" alt="фон"> </div>

        <!-- Ellipse 8 -->
        <div class="ellipse ellipse-8"><img src="/static/vendor/img/Ellipse 8.png" alt="фон"> </div>


        <!-- header -->
        <div class="header">
            <!-- logo -->
            <div class="logo">
                <img src="/static/vendor/img/logo.png" alt="logo">
            </div>
         	 <!-- меню -->
        	<div class="menu" id="menu">
            <!-- Ваше меню здесь -->
            <div class="close-button" onclick="toggleMenu()">
    			<img src="/static/vendor/img/крестик.png" alt="Крестик">
 			</div>
            <ul>
            	<<li><p class="menyu">Меню</p></li>
		        <li><a href="{% url 'index' %}">WEB-Разработка: Ваш Путь к Цифровой Экспертности</a></li>
		        <li><a href="{% url 'demand' %}">Востребованность</a></li>
		        <li><a href="{% url 'geography' %}">География</a></li>


            </ul>

        	</div>
        	<div id="content">
  			</div>

            

        <!-- body -->
        <div class="body">

            <!-- WEB-Разработка: Ваш Путь к Цифровой Экспертности -->
             <p class="text-7">WEB-Разработка: Ваш Путь к Цифровой Экспертности</p>

             <!-- image 1 -->
            <div class="image image-1">
            <img src="/static/vendor/img/image 1.png" alt="фон">
            </div>

            <!-- Текст -->
            <div class="text-block">

                <!-- Сегодня мы открываем вам двери... -->
                <p class="text-1">Сегодня мы открываем вам двери в увлекательный мир веб-разработки, где каждая ваша идея может стать динамичным веб-сайтом или приложением. Давайте погрузимся в мир кода, технологий и бескрайних возможностей!</p>

                <!-- Почему Web-Разработка? Потому что это творческий процесс... -->
                <p class="text-8">Почему Web-Разработка?
Потому что это творческий процесс, в котором вы являетесь архитектором цифрового мира!</p>

                <!-- Веб-Разработка — Это Творчество в Коде! -->
                <p class="text-2">Веб-Разработка — Это Творчество в Коде! Ваш код — это не просто набор инструкций для браузера, это язык, на котором вы рассказываете ваши цифровые истории. Ваши проекты — это ваше творчество, ваша подпись в цифровом пространстве.</p>

                <!-- Кодирование как Искусство! -->
                 <p class="text-3">Кодирование как Искусство! В мире веб-разработки вы будете художником, создающим визуальные и интерактивные шедевры. Ваши навыки будут являться красками на виртуальном холсте.
				</p>

                <!-- Технологический Арсенал в Ваших Руках! -->
                <p class="text-4">Технологический Арсенал в Ваших Руках!
				HTML, CSS, JavaScript — это не просто набор терминов, это инструменты, с помощью которых вы будете создавать уникальные веб-проекты. Фреймворки и библиотеки — ваши надежные помощники.</p>

                <!-- Каждая Строка — Это Новая Возможность! -->
                <p class="text-5">Каждая Строка — Это Новая Возможность!
				Ваш код — это не только функциональность, но и стиль. Вы определяете, как будет выглядеть и взаимодействовать ваш веб-проект. Это ваш шанс сделать интернет красочным и удивительным!</p>

                <!-- Web-Разработка — это не просто профессия... -->
                <p class="text-9">Web-Разработка — это не просто профессия, это стиль жизни, полный творчества и инноваций. Станьте архитектором цифрового мира вместе с нами!</p>

                <!-- Бесконечные Возможности для Инноваций! -->
                <p class="text-10">Бесконечные Возможности для Инноваций!
				Веб-разработка постоянно эволюционирует. Новые технологии, фреймворки и методы появляются каждый день, предоставляя вам неиссякаемый источник знаний и вызовов.</p>

                <!-- От Создания Сайтов до Работы с Базами Данных! -->
                <p class="text-11">От Создания Сайтов до Работы с Базами Данных!
				Вы не просто создаете веб-сайты — вы строите цифровые эко-системы. Работа с базами данных, серверами, адаптивный дизайн — все эти навыки в ваших руках.</p>
				<!-- Присоединяйтесь к Нам в Мире Бескрайних Возможностей! -->
                <p class="text-6">Присоединяйтесь к Нам в Мире Бескрайних Возможностей!
				Если вам интересно создавать что-то удивительное из ничего, если вы готовы к тому, чтобы ваш код стал частью глобальной цифровой культуры — добро пожаловать в наше сообщество веб-разработчиков!</p>
            </div>

            <!-- присоединяйтесь -->
            <div class="join-us"><img src="/static/vendor/img/присоединяйтесь.png" alt="присоединяйтесь"></div>

            <!-- кодирование -->
            <div class="coding"><img src="/static/vendor/img/кодирование.png" alt="кодирование"></div>

            <!-- технологический -->
            <div class="technological"><img src="/static/vendor/img/технологический.png" alt="технологический"></div>

            <!-- от -->
            <div class="from"><img src="/static/vendor/img/от.png" alt="от"></div>

            <!-- бесконечные -->
            <div class="infinite"><img src="/static/vendor/img/бесконечные.png" alt="бесконечные"></div>

            <!-- каждая -->
            <div class="each"><img src="/static/vendor/img/каждая.png" alt="каждая"></div>
        </div>
            <!-- footer -->
	        <div class="footer">
	            <!-- Аристов Михаил Николаевич РИ-220913 -->
	            <div class="signature">Аристов Михаил Николаевич РИ-220913</div>
	        </div>
        </div>
    </div>
    <script src="/static/vendor/script.js"></script> <!-- Подключаем файл скрипта -->

</body>

</html>